.price-page__price-table-hidden > table{
    color: #fff;
    width: 100%;
    margin: 0 auto;
    background-color: #c1975e;
    font-family: HelveticaNeueMedium;
}

.price-page__price-table-hidden > table table{
    width: 100%;
}

.price-page__price-table-hidden > table > thead{
    background-color: #414040;
    font-family: HelveticaNeueBold;
}

.price-page__price-table-hidden > table > thead th{
    text-align: center;
    padding: 5px 0;
}

.price-page__price-table-hidden > table > tbody table > thead th{
    text-align: center;
    padding: 10px 0;
}

.price-page__price-table-hidden > table > tbody table > tbody td{
    background-color: #373636;
    padding: 5px 0;
    display: table-cell;
}

.price-page__price-table-hidden > table > tbody table > tbody td:first-child{
    text-align: left;
    padding-left: 30px;
    width: 60%;
    border-left: none;
}

.price-page__price-table-hidden > table > tbody table > tbody td:last-child{
    padding-right: 15px;
    text-align: right;
    width: 10%;
    border-right: none;
}

.price-page__price-table-hidden > table > tbody table > tbody td:nth-child(2),.price-page__price-table-hidden + table > tbody table > tbody td:nth-child(4){
    width: 5%;
}

.price-page__price-table-hidden > table > tbody table > tbody td:nth-child(3){
    width: 20%;
}

.price-page__price-table-hidden > table > tbody table > tbody td{
    border-left: 1px solid  #e0c8a1;
    border-right: 1px solid  #e0c8a1;
}

.price-page__price-table-hidden > table > tbody table > tbody tr{
    border-bottom: 1px solid  #e0c8a1;
}

.price-page__price-table-hidden > table > tbody table > tbody tr:last-child{
    border-bottom: none;
}

.price-page__price-table-hidden > table table:last-child td:last-child{
    text-align: center;
}